Repository codestates-seb/seb40_main_032, pull requests merged in 2022-12, with the labels that each got.

#331 [Fix] 비밀번호 변경 메일 발송에 표기되는 url 경로 설정
  back/src/main/java/travelRepo/domain/account/controller/AccountEmailController.java
  back/src/main/java/travelRepo/domain/account/service/AccountEmailService.java
  back/src/main/resources/application-server.yml
  back/src/test/java/travelRepo/domain/account/controller/AccountEmailControllerTest.java
  back/src/test/resources/application.yml
Labels: Back, 수정

#329 [Fix] 회원 탈퇴시 쿠키 삭제
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
  front/src/component/myInfoEdit/MyInfoEditDelete.jsx
Labels: Front, 수정

#336 [Fix] 썸네일 이미지 회전하는 현상 수정
  back/build.gradle
  back/src/main/java/travelRepo/global/image/repository/FolderImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/ImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/S3ImageRepository.java
  back/src/main/java/travelRepo/global/image/service/ImageService.java
Labels: Back, 수정

#327 [Fix] 페이지네이션 로직 수정
  front/src/component/common/Pagination.jsx
Labels: Front, 버그, 수정

#334 [Feat] Footer 미적용 페이지에 Footer 적용
  front/src/component/common/footer/CommonFooter.jsx
  front/src/component/common/footer/FixedFooter.jsx
  front/src/component/common/footer/Footer.jsx
  front/src/pages/PostDetailPage.jsx
  front/src/pages/PublishPage.jsx
  front/src/pages/mainPages/MainPage.jsx
  front/src/pages/myPages/MyPage.jsx
Labels: Front, 기능추가

#330 [Feat] 비밀번호 찾기 모달 - 임시비밀번호 발급 기능 구현
  front/src/App.js
  front/src/api/tempPasswordApi.js
  front/src/component/common/modal/FindPasswordModal.jsx
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/common/modal/ModalCard.jsx
  front/src/component/common/modal/SignupModal.jsx
  front/src/redux/loginModalSlice.js
Labels: Front, 기능추가, 레이아웃

#340 [Fix] 임시비밀번호 발급 버그 수정
  front/src/api/tempPasswordApi.js
Labels: Front, 버그, 수정

#337 [Feat] SEO 적용
  front/package-lock.json
  front/package.json
  front/public/index.html
  front/src/App.js
  front/src/component/myInfoEdit/MyInfoEditForm.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/index.js
  front/src/pages/PublishPage.jsx
  front/src/pages/myPages/MyPage.jsx
  front/src/util/MetaTag.jsx
Labels: Front, 기능추가

#341 [Fix] 회원가입 Slice화에 따른 수정
  front/src/component/common/header/HeaderDropDownBox.jsx
Labels: Front, 수정

#349 [FE] 보이는 댓글 수 수정
  front/src/api/postDetailApi.js
  front/src/component/postDetail/comment/Comment.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
Labels: Front, 수정

#351 [Fix] 내정보수정 페이지 탈퇴버튼, 모달작동 수정
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
  front/src/component/myInfoEdit/MyInfoEditDelete.jsx
Labels: Front, 수정

#353 [Feat] 마이페이지의 본문 데이터가 없는 경우
  front/src/component/common/EmptyText.jsx
  front/src/component/common/Pagination.jsx
  front/src/component/follow/FollowList.jsx
  front/src/component/follow/FollowUserCard.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/userInfo/UserInfoCard.jsx
  front/src/pages/myPages/MyFollower.jsx
  front/src/pages/myPages/MyFollowing.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 레이아웃, 리펙토링, 버그, 수정

#355 [Feat] Favicon 적용 - 브라우저 탭 & 헤더 좌측 (모바일)
  front/public/favicon.ico
  front/src/assets/favicon.png
  front/src/component/common/header/Header.jsx
Labels: Front, 레이아웃

#358 [Fix] manifest 수정 및 로고 이미지 추가
  front/public/manifest.json
  front/public/tripagram.png
Labels: Front, 수정

#359 [Fix] 누락된 css 적용 및 수정
  front/src/component/common/header/Header.jsx
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/comment/CommentMore.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
  front/src/pages/mainPages/MainPage.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 레이아웃, 리펙토링, 버그, 수정

#361 [Feat] 댓글 이미지 클릭시 해당 유저페이지로 이동
  front/src/component/postDetail/comment/CommentMore.jsx
Labels: Front, 기능추가

#362 [Feat] 글작성/수정페이지 수정사항 반영
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishLocCat.jsx
  front/src/component/publish/PublishModalButton.jsx
  front/src/component/publish/PublishPhoto.jsx
  front/src/component/publish/PublishTags.jsx
Labels: Front, 기능추가, 레이아웃

#366 [Fix] 설정파일 수정
  back/src/main/resources/application-server.yml
Labels: Back, 수정

#368 [Fix] 배포 시 이미지 업로드 api 수정, 개발서버로 재 연결
  front/src/api/deleteUserApi.js
  front/src/api/editUserApi.js
  front/src/api/followDataApi.js
  front/src/api/loginUserApi.js
  front/src/api/postDetailApi.js
  front/src/api/postEditApi.js
  front/src/api/postPhotoApi.js
  front/src/api/publishApi.js
  front/src/component/common/header/HeaderDropDownBox.jsx
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/follow/FollowUserCard.jsx
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
  front/src/component/myInfoEdit/MyInfoEditDelete.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/comment/CommentMore.jsx
  front/src/component/userInfo/UserInfoCard.jsx
  front/src/index.js
  front/src/pages/myPages/MyInfoEdit.jsx
  front/src/redux/loginSlice.js
Labels: Front, 수정

#370 [Fix] 현재 페이지를 눌렀을 때 발생되는 무한로딩 현상 수정
  front/src/component/common/Pagination.jsx
Labels: Front, 버그, 수정

#373 [Fix] 임시 비밀번호 변경 url 수정
  back/src/main/java/travelRepo/domain/account/service/AccountEmailService.java
Labels: Back, 수정

#375 [Bug] 임시 비밀번호 url 변경
  back/src/main/java/travelRepo/domain/account/service/AccountEmailService.java
Labels: Back, 수정

#376 [Bug] 임시 비밀번호 변경 에러 페이지 url 변경
  back/src/main/java/travelRepo/domain/account/controller/AccountEmailController.java
Labels: 버그

#377 [Docs] 프론트 README.md 수정
  front/README.md
Labels: Front, 수정

#378 [Docs] 프론트 Readme 수정
  front/README.md
Labels: Front, 수정

#379 Read.me 백엔드 기술 스택 추가
  README.md
Labels: 문서화

#383 [Feat] Google OAuth 기능 추가
  back/build.gradle
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/java/travelRepo/global/security/handler/OauthAccountSuccessHandler.java
  back/src/main/resources/application-dev.yml
  back/src/main/resources/application-server.yml
  back/src/main/resources/application-service.yml
  front/.idea/inspectionProfiles/Project_Default.xml
Labels: Back, 기능추가

#389 [Fix] 회원 등록 인증 허가 누락 수정
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/test/resources/application.yml
Labels: Back, 수정

#386 [Feat] 회원가입 닉네임 유효성검사 추가
  front/src/component/common/modal/SignupModal.jsx
Labels: Front, 기능추가

#394 [Fix] OAuth 인증 리다이렉트 주소 변경
  back/src/main/java/travelRepo/global/security/handler/OauthAccountSuccessHandler.java
Labels: Back, 수정

#395 [Feat] 구글 소셜로그인 추가
  front/src/App.js
  front/src/api/loginUserApi.js
  front/src/component/common/modal/LoginModal.jsx
  front/src/pages/OauthPage.jsx
Labels: Front, 기능추가

#392 [Fix] Search 검색어 인코딩 작업
  front/src/hooks/useIntersect.js
Labels: Front, 버그, 수정

#403 [Fix] 마이페이지 게시글에 조회수 추가
  back/src/main/java/travelRepo/domain/board/dto/BoardSummaryResWithLikeId.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
Labels: Back, 수정

#399 [Feat] 글등록에러 토스트 추가, 중복등록 방지, 기타UI수정 등
  front/src/component/publish/PublishModalButton.jsx
  front/src/component/publish/PublishPhoto.jsx
Labels: Front, 기능추가, 수정

#402 [Feat] 로그인, 회원가입, 비번찾기 로딩상태 추가, 유저이미지에 no referrer 적용
  front/src/component/common/Post.jsx
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/common/modal/FindPasswordModal.jsx
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/common/modal/SignupModal.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/userInfo/UserInfoAvatar.jsx
Labels: Front, 기능추가, 레이아웃, 수정

#400 [Feat] Post에 조회수, 댓글수 표시 및 새로운 폰트 적용
  front/public/index.html
  front/src/assets/GlobalStyle.js
  front/src/component/common/post/CommentLike.jsx
  front/src/component/common/post/Post.jsx
  front/src/component/common/post/PostSkeleton.jsx
  front/src/component/main/MainSort.jsx
  front/src/component/main/MainTheme.jsx
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 레이아웃, 리펙토링

#397 [Fix] 댓글 수정시 글자수 제한 및 로딩함수 위치 변경
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/PostDetailPhoto.jsx
  front/src/component/postDetail/comment/CommentMore.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
Labels: Front, 수정

#407 [Feat] 게시글 수정 버튼 로딩스피너 적용
  front/src/component/publish/PublishModalButton.jsx
Labels: Front, 기능추가

#414 [Fix] 이미지 미리보기 깜빡임 수정 및 기타 리팩토링
  front/src/api/postPhotoApi.js
  front/src/component/myInfoEdit/MyInfoEditProfile.jsx
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishLocCat.jsx
  front/src/component/publish/PublishPhoto.jsx
Labels: Front, 리펙토링, 수정
