Repository codestates-seb/seb40_main_032, pull requests merged in 2022-11, with the labels that each got.

#40 [Docs] Account 수정 요청_intro 추가, RestDocs Required 항목 추가
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/account/dto/AccountModifyReq.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
  back/src/test/resources/org/springframework/restdocs/templates/path-parameters.snippet
  back/src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
  back/src/test/resources/org/springframework/restdocs/templates/request-headers.snippet
  back/src/test/resources/org/springframework/restdocs/templates/request-parameters.snippet
  back/src/test/resources/org/springframework/restdocs/templates/request-parts.snippet
Labels: Back, 문서화, 수정

#41 [Feat] Account 생성 API 구현 및 테스트 작성
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/dto/AccountAddReq.java
  back/src/main/java/travelRepo/domain/account/entity/Account.java
  back/src/main/java/travelRepo/domain/account/repository/AccountRepository.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/main/java/travelRepo/global/exception/advice/ExceptionAdvice.java
  back/src/main/java/travelRepo/global/upload/service/LocalUploadService.java
  back/src/main/java/travelRepo/global/upload/service/S3UploadService.java
  back/src/main/resources/static/db/data.sql
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
  back/src/test/java/travelRepo/domain/follow/controller/FollowControllerTest.java
  back/src/test/java/travelRepo/domain/likes/controller/LikesControllerTest.java
  back/src/test/resources/application.yml
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 테스트

#43 [Feat] Board mock API 구현
  back/src/main/java/travelRepo/domain/account/dto/AccountSummaryRes.java
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/dto/BoardModifyReq.java
  back/src/main/java/travelRepo/domain/board/dto/BoardSummaryRes.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/global/common/dto/SliceDto.java
Labels: Back, 기능추가

#45 [Feat] Account 단일 조회 API 구현
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/dto/AccountDetailsRes.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/follow/repository/FollowRepository.java
  back/src/main/resources/static/db/data.sql
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 테스트

#46 [Docs] Board API 문서화
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
Labels: Back, 문서화

#56 [Feat] Comment mock API 구현 및 문서화
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/domain/comment/dto/CommentAddReq.java
  back/src/main/java/travelRepo/domain/comment/dto/CommentDetailsRes.java
  back/src/main/java/travelRepo/domain/comment/dto/CommentModifyReq.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
Labels: Back, 기능추가, 문서화

#49 [Style] 디렉토리 구조 재구성 및 스타일 추가
  front/.prettierrc.js
  front/README.md
  front/public/index.html
  front/src/api/defaultApi.js
  front/src/assets/GlobalStyle.js
  front/src/assets/favicon.ico
  front/src/component/common/footer/Footer.jsx
  front/src/component/common/header/Header.jsx
  front/src/component/main/Main.jsx
  front/src/hooks/defaultHook.jsx
  front/src/index.js
  front/src/pages/MainPage.js
  front/src/util/defaultUtil.js
Labels: Front, 수정

#47 [Feat] LoginAccount 조회 API 구현
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/dto/LoginAccountDetailsRes.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
Labels: Back, 기능추가, 테스트

#66 [Feat] 게시글 등록 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/board/entity/BoardPhoto.java
  back/src/main/java/travelRepo/domain/board/entity/BoardTag.java
  back/src/main/java/travelRepo/domain/board/entity/Tag.java
  back/src/main/java/travelRepo/domain/board/repository/TagRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/java/travelRepo/global/upload/service/LocalUploadService.java
  back/src/main/java/travelRepo/global/upload/service/S3UploadService.java
  back/src/main/java/travelRepo/global/upload/service/UploadService.java
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
Labels: Back, 기능추가, 테스트

#67 [Feat] Follow Account 조회 API 구현
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/dto/FollowAccountDetailsRes.java
  back/src/main/java/travelRepo/domain/account/entity/Account.java
  back/src/main/java/travelRepo/domain/account/repository/AccountRepository.java
  back/src/main/java/travelRepo/domain/account/repository/AccountRepositoryCustom.java
  back/src/main/java/travelRepo/domain/account/repository/AccountRepositoryImpl.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/dto/FollowBoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/main/java/travelRepo/global/security/dto/LoginDto.java
  back/src/main/java/travelRepo/global/security/filter/JwtAuthenticationFilter.java
  back/src/main/resources/static/db/data.sql
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
  back/src/test/resources/application.yml
Labels: Back, 기능추가

#69 [Feat] 버튼 스타일 3종류 추가
  front/src/component/common/button/ButtonStyle.js
Labels: Front, 기능추가, 레이아웃

#72 [Feat] 게시글 수정 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/dto/BoardModifyReq.java
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/board/entity/BoardPhoto.java
  back/src/main/java/travelRepo/domain/board/entity/BoardTag.java
  back/src/main/java/travelRepo/domain/board/repository/BoardPhotoRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardTagRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
Labels: Back, 기능추가, 테스트

#76 [Feat] Follow API 구현
  back/src/main/java/travelRepo/domain/account/entity/Account.java
  back/src/main/java/travelRepo/domain/board/repository/BoardPhotoRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardTagRepository.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/follow/controller/FollowController.java
  back/src/main/java/travelRepo/domain/follow/dto/FollowPostRes.java
  back/src/main/java/travelRepo/domain/follow/entity/Follow.java
  back/src/main/java/travelRepo/domain/follow/repository/FollowRepository.java
  back/src/main/java/travelRepo/domain/follow/service/FollowService.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/test/java/travelRepo/domain/follow/controller/FollowControllerTest.java
Labels: Back, 기능추가, 테스트

#71 [Feat] 메인페이지 레이아웃/스타일 적용
  front/src/component/common/Post.jsx
  front/src/component/main/MainContents.jsx
  front/src/component/main/MainSort.jsx
  front/src/component/main/MainTheme.jsx
  front/src/pages/MainPage.jsx
Labels: Front, 기능추가, 레이아웃

#74 [Feat] 헤더 컴포넌트 작업 및 버튼 옵션 추가
  front/src/component/common/button/ButtonStyle.js
  front/src/component/common/header/Header.jsx
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/common/header/Search.jsx
Labels: Front, 기능추가, 레이아웃

#75 [Feat] Footer 컴포넌트 작업 및 반응형 적용
  front/src/component/common/footer/Footer.jsx
Labels: Front, 기능추가, 레이아웃

#79 [Feat] 게시물 단일 조회 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/account/dto/AccountSummaryRes.java
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
Labels: Back, 기능추가, 문서화, 테스트

#78 [Feat] 게시글 삭제 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 테스트

#83 [Feat] Likes API 구현 및 Test
  back/src/main/java/travelRepo/domain/likes/controller/LikesController.java
  back/src/main/java/travelRepo/domain/likes/dto/LikesCheckRes.java
  back/src/main/java/travelRepo/domain/likes/dto/LikesPostRes.java
  back/src/main/java/travelRepo/domain/likes/entity/Likes.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
  back/src/main/java/travelRepo/domain/likes/service/LikesService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/test/java/travelRepo/domain/likes/controller/LikesControllerTest.java
Labels: Back, 기능추가, 테스트

#84 [Feat] 댓글 등록 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/domain/comment/dto/CommentAddReq.java
  back/src/main/java/travelRepo/domain/comment/entity/Comment.java
  back/src/main/java/travelRepo/domain/comment/service/CommentService.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
Labels: Back, 기능추가, 테스트

#82 [Feat] 모달 기본스타일, 백드랍, 로그인, 회원가입, 승인, yesno 모달 구현
  front/src/component/common/modal/Backdrop.js
  front/src/component/common/modal/ConfirmModal.jsx
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/common/modal/ModalCard.js
  front/src/component/common/modal/SignupModal.jsx
  front/src/component/common/modal/Testpage.jsx
  front/src/component/common/modal/YesNoModal.jsx
Labels: Front, 기능추가, 레이아웃

#81 [Refactor] 헤더와 메인이 겹치는 현상 수정
  front/src/component/common/header/Header.jsx
  front/src/component/main/MainContents.jsx
  front/src/component/main/MainSort.jsx
  front/src/component/main/MainTheme.jsx
Labels: Front, 레이아웃, 리펙토링

#85 [Feat] 게시글 작성화면 페이지 목업 구현
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/categoryData.jsx
  front/src/pages/PublishPage.jsx
Labels: Front, 기능추가, 레이아웃

#93 댓글 수정 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/domain/comment/dto/CommentModifyReq.java
  back/src/main/java/travelRepo/domain/comment/entity/Comment.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/comment/service/CommentService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
Labels: Back, 기능추가, 테스트

#90 [FE] 상태관리 초기세팅
  front/src/action/loginAsync.js
  front/src/api/defaultApi.js
  front/src/api/loginApi.js
  front/src/index.js
  front/src/redux/loginSlice.js
  front/src/redux/store.js
Labels: Front, 기능추가

#94 [Feat] 댓글 삭제 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/comment/service/CommentService.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 테스트

#95 [Feat] 댓글 조회 API 구현 및 테스트
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/domain/comment/dto/CommentDetailsRes.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/comment/service/CommentService.java
  back/src/main/java/travelRepo/global/common/dto/SliceDto.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 테스트

#104 [Feat] 게시물 전체 조회 API 구현
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardSummaryRes.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
Labels: Back, 기능추가

#101 [FE] 프록시 세팅
  front/.gitignore
  front/src/setupProxy.js
Labels: Front, 기능추가

#99 [Refactor] Post 레이아웃 재조정
  front/src/component/common/Post.jsx
Labels: Front, 레이아웃, 리펙토링

#105 [Feat] 임시 비밀번호 안내 Email 전송 API 구현
  back/build.gradle
  back/src/main/java/travelRepo/domain/account/controller/AccountEmailController.java
  back/src/main/java/travelRepo/domain/account/dto/AccountAddReq.java
  back/src/main/java/travelRepo/domain/account/dto/TempPasswordGuideSendReq.java
  back/src/main/java/travelRepo/domain/account/entity/Account.java
  back/src/main/java/travelRepo/domain/account/service/AccountEmailService.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/main/java/travelRepo/global/mail/EmailMessageDto.java
  back/src/main/java/travelRepo/global/mail/EmailService.java
  back/src/main/java/travelRepo/global/mail/LocalEmailService.java
  back/src/main/java/travelRepo/global/mail/ServerEmailService.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/resources/application-server.yml
  back/src/main/resources/static/db/data.sql
  back/src/main/resources/templates/mail/simple-link.html
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
  back/src/test/java/travelRepo/util/After.java
  back/src/test/resources/application.yml
Labels: Back, 기능추가

#107 [Chore] test 수정 및 testImg 폴더 추가
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/resources/static/db/data.sql
  back/testImg/.gitkeep
Labels: Back, 수정

#110 [Feat] 게시글 상세화면 본문 컴포넌트 레이아웃/스타일 적용
  front/src/component/common/like/Like.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/PostDetailPhoto.jsx
  front/src/component/postDetail/PostMockData.js
  front/src/pages/PostDetailPage.jsx
Labels: Front, 기능추가, 레이아웃, 수정

#112 [FE] 회원가입 기능 구현
  front/package-lock.json
  front/src/api/signupPostApi.js
  front/src/assets/defaultUserImg.jpeg
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/common/modal/SignupModal.jsx
Labels: Front, 기능추가

#113 [Feat] 임시 비밀번호 적용 API 구현 및 Test
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/account/controller/AccountEmailController.java
  back/src/main/java/travelRepo/domain/account/entity/Account.java
  back/src/main/java/travelRepo/domain/account/service/AccountEmailService.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/resources/application-server.yml
  back/src/main/resources/templates/login.html
  back/src/test/java/travelRepo/domain/account/controller/AccountEmailControllerTest.java
  back/src/test/java/travelRepo/util/After.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 테스트

#115 [Fix] nickname 중복 설정, 에러 코드 추가
  back/src/main/java/travelRepo/domain/account/dto/AccountModifyReq.java
  back/src/main/java/travelRepo/domain/account/repository/AccountRepository.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/main/java/travelRepo/global/exception/advice/ExceptionAdvice.java
  back/src/main/java/travelRepo/global/exception/dto/ErrorResponse.java
  back/src/main/java/travelRepo/global/security/filter/JwtAuthenticationFilter.java
  back/src/main/java/travelRepo/global/security/handler/AccountAccessDeniedHandler.java
  back/src/main/java/travelRepo/global/security/handler/AccountAuthenticationEntryPoint.java
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
Labels: Back, 수정

#122 [Chore] QClass 변경
  back/src/main/generated/travelRepo/domain/account/entity/QAccount.java
  back/src/main/generated/travelRepo/domain/board/entity/QBoard.java
  back/src/main/generated/travelRepo/domain/board/entity/QBoard_Tag.java
  back/src/main/generated/travelRepo/domain/board/entity/QTag.java
  back/src/main/generated/travelRepo/domain/comment/entity/QComment.java
  back/src/main/generated/travelRepo/domain/follow/entity/QFollow.java
  back/src/main/generated/travelRepo/domain/likes/entity/QLikes.java
  back/src/main/generated/travelRepo/global/auditing/QBaseTime.java
  back/src/main/resources/static/docs/index.html
Labels: Back, 수정

#121 [Feat] YesNo모달 예 버튼에 이벤트 props 추가
  front/src/component/common/modal/YesNoModal.jsx
Labels: Front, 기능추가, 수정

#124 [Feat] 댓글 컴포넌트 개발 및 CSS 수정
  front/src/component/common/header/Header.jsx
  front/src/component/common/like/Like.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/PostDetailPhoto.jsx
  front/src/component/postDetail/comment/Comment.jsx
  front/src/component/postDetail/comment/CommentDetail.jsx
  front/src/component/postDetail/comment/CommentMore.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
  front/src/pages/PostDetailPage.jsx
Labels: Front, 기능추가, 레이아웃

#125 [FE] 페이지 라우팅 및 로딩 컴포넌트 적용
  front/src/App.js
  front/src/component/common/Loading.jsx
  front/src/pages/MainPage.js
Labels: Front, 기능추가

#126 [Feat] 로그인 기능 구현
  front/src/action/loginAsync.js
  front/src/api/loginApi.js
  front/src/component/common/modal/LoginModal.jsx
  front/src/redux/action/loginAsync.js
  front/src/redux/loginSlice.js
  front/src/util/cookie.js
Labels: Front, 기능추가

#131 [Layout] App.js에 헤더 추가
  front/src/App.js
  front/src/pages/PostDetailPage.jsx
Labels: Front, 레이아웃

#138 [Feat] 게시글 작성 페이지 이미지 미리보기
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishPhoto.jsx
Labels: Front, 기능추가

#136 [Feat] 로그인 성공, 실패에 따른 분기 및 UI 추가, 임시 로그아웃 버튼 구현
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/src/api/loginUserApi.js
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/common/modal/LoginModal.jsx
  front/src/redux/action/loginAsync.js
  front/src/redux/loginSlice.js
  front/src/redux/store.js
  front/src/util/cookie.js
Labels: Front, 기능추가, 레이아웃, 수정

#141 [Feat] 회원가입 시 프로필 사진 깨짐 수정 및 랜덤이미지 전송 로직 추가
  front/src/assets/defaultUserImg.jpeg
  front/src/assets/defaultUserImg.js
  front/src/assets/defaultUserImg1.png
  front/src/assets/defaultUserImg10.png
  front/src/assets/defaultUserImg2.png
  front/src/assets/defaultUserImg3.png
  front/src/assets/defaultUserImg4.png
  front/src/assets/defaultUserImg5.png
  front/src/assets/defaultUserImg6.png
  front/src/assets/defaultUserImg7.png
  front/src/assets/defaultUserImg8.png
  front/src/assets/defaultUserImg9.png
  front/src/component/common/modal/SignupModal.jsx
Labels: Front, 기능추가, 수정

#143 [Feat] 로그인 모달 상태 redux에서 관리하도록 변경, 프로필 이미지 헤더에 반영
  front/src/App.js
  front/src/component/common/header/HeaderUser.jsx
  front/src/redux/loginModalSlice.js
  front/src/redux/store.js
Labels: Front, 기능추가

#145 [Fix] likes 시, board의 likeCount 변경되도록 수정
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/likes/service/LikesService.java
Labels: Back, 수정

#144 [Feat] 게시글 상세화면 로그인 여부에 따른 로직 구현
  front/src/api/hookApi.js
  front/src/api/postDetailApi.js
  front/src/component/common/like/Like.jsx
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/hooks/defaultHook.jsx
  front/src/hooks/useAxios.jsx
  front/src/hooks/useInput.jsx
Labels: Front, 기능추가, 수정

#146 [FE] 게시글 상세화면 이미지 캐러셀 적용
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/PostDetailPhoto.jsx
  front/src/component/postDetail/comment/Comment.jsx
Labels: Front, 기능추가, 레이아웃

#139 [Feat] Upload 패키지 구조 변경 및 Image 저장 API 구현, 문서화
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/global/image/config/AwsConfig.java
  back/src/main/java/travelRepo/global/image/controller/ImageController.java
  back/src/main/java/travelRepo/global/image/dto/ImageUploadReq.java
  back/src/main/java/travelRepo/global/image/dto/ImageUploadRes.java
  back/src/main/java/travelRepo/global/image/repository/FolderImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/ImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/S3ImageRepository.java
  back/src/main/java/travelRepo/global/image/service/ImageService.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/java/travelRepo/global/upload/controller/UploadController.java
  back/src/main/java/travelRepo/global/upload/service/UploadService.java
  back/src/main/resources/application-front.yml
  back/src/main/resources/application-server.yml
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/global/image/controller/ImageControllerTest.java
Labels: Back, 기능추가, 리펙토링

#147 [Feat] 메인페이지 무한스크롤
  front/src/component/common/Post.jsx
  front/src/component/common/PostSkeleton.jsx
  front/src/component/main/MainContents.jsx
  front/src/pages/MainPage.jsx
Labels: Front, 기능추가

#150 [Fix] 회원 수정 API, Test 변경
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/dto/AccountModifyReq.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/test/java/travelRepo/domain/account/controller/AccountControllerTest.java
Labels: Back

#153 [Feat] 검색 및 필터 기능 구현 및 테스트
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepositoryCustom.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepositoryImpl.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 기능추가, 문서화, 테스트

#156 [Fix] 댓글 default 정렬 기준 변경
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/global/image/repository/FolderImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/S3ImageRepository.java
Labels: 수정

#152 [Feat] 로그인 및 회원가입 유효성 검사 업데이트
  front/src/api/signupApi.js
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/common/modal/SignupModal.jsx
Labels: Front, 기능추가, 수정

#148 [FE] 게시글 작성 페이지 기능 추가
  front/src/api/publishApi.js
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishPhoto.jsx
  front/src/component/publish/categoryData.jsx
Labels: Front, 기능추가

#158 [FE] 댓글 CRUD 및 무한스크롤
  front/src/api/postDetailApi.js
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/comment/Comment.jsx
  front/src/component/postDetail/comment/CommentDetail.jsx
  front/src/component/postDetail/comment/CommentMore.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
  front/src/index.js
Labels: Front, 기능추가, 레이아웃, 수정

#155 [Feat] 사용자 정보 컴포넌트
  front/src/component/userInfo/UserInfo.js
  front/src/component/userInfo/UserInfoAvatar.js
  front/src/component/userInfo/UserInfoCard.js
  front/src/component/userInfo/UserInfoTab.js
Labels: Front

#161 [Fix] 게시글 등록 및 수정 API 수정
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/dto/BoardModifyReq.java
  back/src/main/java/travelRepo/domain/board/dto/BoardSummaryRes.java
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/board/entity/BoardPhoto.java
  back/src/main/java/travelRepo/domain/board/entity/BoardTag.java
  back/src/main/java/travelRepo/domain/board/repository/BoardPhotoRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardTagRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 문서화, 수정, 테스트

#163 [Feat] 게시글 작성 페이지 유효성 검사 업데이트
  front/src/component/publish/PublishForm.jsx
Labels: Front, 기능추가

#165 [Feat] 사진 업로드 후 url 받아오는 기능 추가
  front/src/api/postPhotoApi.js
  front/src/component/publish/PublishPhoto.jsx
  front/src/setupProxy.js
Labels: Front, 기능추가, 수정

#169 [FE] 드롭다운 박스 개발 및 적용
  front/src/component/common/header/HeaderDropDownBox.jsx
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/main/MainTheme.jsx
Labels: Front, 기능추가, 레이아웃, 수정

#171 [Feat] 각 테마 페이지 적용
  front/public/index.html
  front/src/App.js
  front/src/component/common/Post.jsx
  front/src/component/common/header/Header.jsx
  front/src/component/main/MainContents.jsx
  front/src/component/main/MainTheme.jsx
  front/src/pages/MainPage.jsx
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/MainPage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
Labels: Front, 기능추가, 레이아웃, 리펙토링

#170 [Fix] 게시글에 태그/사진 추가 로직 수정
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/comment/service/CommentService.java
Labels: Back, 수정

#164 [Fix] Follow 회원 조회 board 5개 제한해서 조회되도록 수정
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/account/dto/FollowAccountDetailsRes.java
  back/src/main/java/travelRepo/global/security/config/SecurityConfig.java
  back/src/main/resources/static/docs/index.html
Labels: Back, 수정

#176 [Fix] 사진 저장 최대 크기 10MB로 변경
  back/src/main/resources/application-server.yml
  back/src/main/resources/static/db/data.sql
Labels: Back, 수정

#177 [Fix] 조회수 증가 로직 변경 및 기타 수정
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/entity/Board.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
Labels: Back, 수정

#175 [FE] 게시글 삭제 오류 수정
  front/src/api/postDetailApi.js
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
Labels: Front, 수정

#180 [Refactor] 헤더, 푸터, 메인페이지 스타일 수정
  front/src/component/common/Post.jsx
  front/src/component/common/button/ButtonStyle.js
  front/src/component/common/footer/Footer.jsx
  front/src/component/common/header/Header.jsx
  front/src/component/common/header/HeaderUser.jsx
  front/src/component/common/header/Search.jsx
  front/src/component/main/MainSort.jsx
  front/src/component/main/MainTheme.jsx
  front/src/pages/mainPages/MainPage.jsx
Labels: Front, 레이아웃, 리펙토링

#184 [Feat] 게시글 작성 페이지 이미지 개별 삭제 기능
  front/src/api/publishApi.js
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishPhoto.jsx
Labels: Front, 기능추가

#189 [Fix] 코드 정리
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/dto/FollowBoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/repository/BoardPhotoRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepositoryImpl.java
  back/src/main/java/travelRepo/domain/board/repository/BoardTagRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/comment/controller/CommentController.java
  back/src/main/java/travelRepo/domain/comment/service/CommentService.java
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/java/travelRepo/domain/comment/controller/CommentControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 수정

#194 [Fix] 게시글이 삭제되지 않는 오류 수정
  back/src/main/java/travelRepo/domain/board/repository/BoardPhotoRepository.java
  back/src/main/java/travelRepo/domain/board/repository/BoardTagRepository.java
  back/src/main/java/travelRepo/domain/comment/repository/CommentRepository.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
Labels: Back, 수정

#197 [Feat] Account 조회 캐싱 적용
  back/build.gradle
  back/src/main/java/travelRepo/TravelRepoApplication.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/follow/service/FollowService.java
  back/src/main/java/travelRepo/global/config/CacheConfig.java
  back/src/main/java/travelRepo/global/config/RedisConfig.java
  back/src/main/resources/application-server.yml
  back/src/test/resources/application.yml
Labels: Back, 기능추가

#202 [Feat] 내정보 - 게시글 탭 구현
  front/src/api/myPostApi.js
  front/src/component/userInfo/UserInfoTab.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 레이아웃

#204 [Fix] 로그인유저정보를 쿠키에 저장하도록 변경
  front/src/api/loginUserApi.js
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/common/header/HeaderUser.jsx
Labels: Front, 수정

#205 [Feat] 좋아요한 게시글 조회 API 구현
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
Labels: Back, 기능추가

#210 [Feat] 무한스크롤 Hook 적용 및 로딩스피너 추가
  front/package-lock.json
  front/package.json
  front/src/component/common/LoadingSpinner.jsx
  front/src/hooks/useIntersect.js
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/MainPage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
Labels: Front, 기능추가, 리펙토링

#212 [Fix] 태그가 1개일 때 사라지는 버그 수정
  front/src/component/common/Post.jsx
Labels: Front, 버그

#207 [Fix] 게시글 상세화면 UX 및 기능 개선 작업
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/PostDetailPhoto.jsx
  front/src/component/postDetail/comment/Comment.jsx
  front/src/component/postDetail/comment/CommentMore.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
  front/src/pages/PostDetailPage.jsx
  front/src/util/debounce.js
Labels: Front, 레이아웃, 버그, 수정

#215 [Fix] 햄버거 박스 수정 및 기능 추가
  front/src/App.js
  front/src/component/common/header/Header.jsx
  front/src/component/common/header/HeaderDropDownBox.jsx
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/common/header/HeaderUser.jsx
Labels: Front, 기능추가, 수정

#217 [Feat] 글 수정 페이지 구현
  front/src/api/postEditApi.js
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishLocCat.jsx
  front/src/component/publish/PublishModalButton.jsx
  front/src/component/publish/PublishPhoto.jsx
  front/src/component/publish/PublishTags.jsx
  front/src/component/publish/categoryData.js
Labels: Front, 기능추가, 리펙토링

#219 [Refactor] 좋아요한 게시글 조회 API 로직 변경/ 테스트/ API 문서화
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/likes/likesRepository/LikesRepository.java
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/resources/static/db/data.sql
Labels: Back, 리펙토링, 문서화, 테스트

#216 [Feat] UserInfo에서 사용하는 api 수정 및 팔로우 팔로잉 반영
  front/src/api/userDataApi.js
  front/src/component/userInfo/UserInfo.jsx
  front/src/component/userInfo/UserInfoTab.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 수정

#220 [Feat] 글 작성/수정 페이지 toast 구현
  front/src/component/publish/PublishModalButton.jsx
Labels: Front, 기능추가

#213 [Feat] Board 단일조회 캐싱 적용
  back/build.gradle
  back/src/docs/asciidoc/index.adoc
  back/src/main/java/travelRepo/TravelRepoApplication.java
  back/src/main/java/travelRepo/domain/account/controller/AccountController.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/board/controller/BoardController.java
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/repository/BoardRepository.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/domain/likes/service/LikesService.java
  back/src/main/java/travelRepo/global/cache/CacheProcessor.java
  back/src/main/java/travelRepo/global/config/CacheConfig.java
  back/src/main/resources/static/docs/index.html
Labels: Back, 기능추가

#222 [Fix] 디바운스 딜레이 0.2초로 변경
  front/src/component/postDetail/comment/CommentWrite.jsx
Labels: Front, 수정

#225 [Feat] 내정보 - 좋아요 탭 구현 및 내정보페이지 반응형 수정
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/userInfo/UserInfo.jsx
  front/src/component/userInfo/UserInfoAvatar.jsx
  front/src/component/userInfo/UserInfoCard.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPage.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 레이아웃, 수정

#232 [Feat] 팔로우 데이터 axios 작성 및 각 페이지에 내려주기
  front/src/api/followDataApi.js
  front/src/pages/myPages/MyFollower.jsx
  front/src/pages/myPages/MyFollowing.jsx
Labels: Front, 기능추가

#238 [Fix] 게시글 조회시 중복되어 조회되는 문제 수정
  back/src/main/java/travelRepo/domain/board/repository/BoardRepositoryImpl.java
Labels: Back, 수정

#235 [Feat] 정렬기능 추가
  front/src/component/main/MainSort.jsx
  front/src/component/publish/PublishForm.jsx
  front/src/hooks/useIntersect.js
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
Labels: Front, 기능추가, 버그, 수정

#237 [Feat] 팔로워 탭 레이아웃 및 스타일 적용
  front/src/component/follow/FollowList.jsx
  front/src/component/follow/FollowPost.jsx
  front/src/pages/myPages/MyFollower.jsx
Labels: Front, 기능추가, 레이아웃

#224 [Fix] 메인페이지 lazy 삭제 및 로딩스피너 통일
  front/src/App.js
  front/src/component/common/Loading.jsx
  front/src/component/common/LoadingSpinner.jsx
Labels: Front, 수정

#236 [Feat]이미지 첨부 용량 제한 추가
  front/src/component/publish/PublishPhoto.jsx
Labels: Front, 기능추가

#243 [Fix] 데이터가 5개 미만일 때 레이아웃 유지하도록 수정
  front/src/pages/mainPages/MainPage.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 레이아웃, 버그, 수정

#245 [Docs] API 명세서 수정
  back/src/docs/asciidoc/index.adoc
  back/src/main/resources/static/docs/index.html
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
Labels: Back, 문서화

#246 [Fix] Follow 회원 조회 시, totalElement가 전체 회원의 수로 나오도록 수정
  back/src/main/java/travelRepo/domain/account/repository/AccountRepositoryImpl.java
Labels: Back, 수정

#241 [Feat] 검색기능 추가
  front/src/api/postDetailApi.js
  front/src/component/common/header/Search.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
  front/src/hooks/useIntersect.js
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
  front/src/redux/searchSlice.js
  front/src/redux/store.js
Labels: Front, 기능추가

#251 [Feat] 내정보-팔로워, 팔로잉 탭 반응형, 데이터 연결 및 팔로우 팔로잉 버튼 연결
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/follow/FollowList.jsx
  front/src/component/follow/FollowPost.jsx
  front/src/component/follow/FollowUserCard.jsx
  front/src/pages/myPages/MyFollower.jsx
  front/src/pages/myPages/MyFollowing.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPage.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 레이아웃

#252 [Feat] 내정보 수정 화면 제작
  front/src/App.js
  front/src/api/myInfoEditApi.js
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
  front/src/component/myInfoEdit/MyInfoEditForm.jsx
  front/src/component/myInfoEdit/MyInfoEditProfile.jsx
  front/src/component/userInfo/UserInfoCard.jsx
  front/src/pages/myPages/MyInfoEdit.jsx
Labels: Front, 기능추가, 레이아웃

#253 [Fix] 로그아웃 핸들러 버그 수정
  front/src/component/common/header/HeaderDropDownItem.jsx
Labels: Front, 버그, 수정

#260 [Fix] 상세 페이지 수정 및 연결
  front/src/component/common/header/Header.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/comment/Comment.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
  front/src/hooks/useIntersect.js
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
Labels: Front, 수정

#265 [Refactor] 메인페이지 sort 메뉴 active 스타일 추가
  front/src/assets/GlobalStyle.js
  front/src/component/main/MainSort.jsx
Labels: Front, 리펙토링

#258 [Fix] 변경된 useIntersect에 맞춰 내정보-게시글, 좋아요탭 수정
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 수정

#264 [Fix] 회원가입 모달 팝업시 로그인 모달 내려가도록 수정
  front/src/App.js
  front/src/component/common/modal/LoginModal.jsx
  front/src/component/common/modal/SignupModal.jsx
  front/src/redux/loginModalSlice.js
Labels: Front, 기능추가, 수정

#275 [Feat] GA 적용
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/index.js
  front/src/util/PageGaTracking.js
  front/src/util/eventGaTracking.js
Labels: Front, 기능추가

#278 [Feat] 타회원정보 연결
  front/src/App.js
  front/src/api/followDataApi.js
  front/src/api/userDataApi.js
  front/src/component/common/Post.jsx
  front/src/component/common/header/HeaderDropDownBox.jsx
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/userInfo/UserInfo.jsx
  front/src/component/userInfo/UserInfoCard.jsx
  front/src/component/userInfo/UserInfoTab.jsx
  front/src/pages/myPages/MyFollower.jsx
  front/src/pages/myPages/MyFollowing.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가

#271 [Fix] Image validation 추가
  back/src/main/java/travelRepo/domain/board/dto/BoardAddReq.java
  back/src/main/java/travelRepo/domain/board/dto/BoardModifyReq.java
  back/src/main/java/travelRepo/global/exception/ExceptionCode.java
  back/src/main/java/travelRepo/global/image/service/ImageService.java
  back/src/test/java/travelRepo/global/image/controller/ImageControllerTest.java
Labels: Back, 기능추가, 수정

#283 [Feat] 게시글 작성 기능 보완
  front/src/component/publish/PublishForm.jsx
  front/src/component/publish/PublishLocCat.jsx
  front/src/component/publish/PublishModalButton.jsx
  front/src/component/publish/PublishPhoto.jsx
  front/src/component/publish/PublishTags.jsx
Labels: Front, 기능추가, 리펙토링, 수정

#284 [Fix] 이미지 비정상적으로 동작되던거 수정
  front/src/component/common/header/HeaderDropDownBox.jsx
  front/src/component/common/header/HeaderUser.jsx
Labels: Front, 수정

#286 [Fix] 게시글 상세화면 반응형 수정
  front/src/component/postDetail/PostDetailArticle.jsx
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/PostDetailPhoto.jsx
  front/src/component/postDetail/comment/Comment.jsx
Labels: Front, 레이아웃, 수정

#291 [Fix] 잘못된 merge 수정
  back/src/main/java/travelRepo/global/image/service/ImageService.java
Labels: Back, 수정

#288 [Refactor] cacheEvent 구조 변경
  back/src/main/java/travelRepo/domain/account/dto/FollowAccountDetailsRes.java
  back/src/main/java/travelRepo/domain/account/service/AccountService.java
  back/src/main/java/travelRepo/domain/board/service/BoardService.java
  back/src/main/java/travelRepo/global/cache/CacheConfig.java
  back/src/main/java/travelRepo/global/cache/CacheEvent.java
  back/src/main/java/travelRepo/global/cache/CacheProcessor.java
  back/src/test/java/travelRepo/domain/account/controller/AccountCacheTest.java
  back/src/test/java/travelRepo/domain/board/controller/BoardCacheTest.java
  back/src/test/java/travelRepo/util/After.java
Labels: Back, 리펙토링, 수정, 테스트

#292 [Feat] 회원가입 모달 이용약관 체크박스 추가
  front/src/component/common/modal/SignupModal.jsx
Labels: Front, 기능추가, 레이아웃

#298 [Fix] 타회원정보에서 내정보로 이동 시, 랜더링 버그 수정
  front/.eslintrc.js
  front/src/component/common/header/HeaderDropDownBox.jsx
  front/src/component/common/header/HeaderDropDownItem.jsx
  front/src/component/userInfo/UserInfoCard.jsx
Labels: Front, 버그, 수정

#295 [Feat] sentry 적용
  front/package-lock.json
  front/package.json
  front/src/hooks/useIntersect.js
  front/src/index.js
Labels: Front, 기능추가

#297 [FE] 헤더 이미지 수정 및 검색 기능 수정
  front/src/component/common/header/HeaderUser.jsx
  front/src/hooks/useIntersect.js
  front/src/pages/mainPages/AllThemePage.jsx
  front/src/pages/mainPages/RestaurantPage.jsx
  front/src/pages/mainPages/SpotPage.jsx
  front/src/pages/mainPages/StayPage.jsx
Labels: Front, 레이아웃, 수정

#305 [Fix] 썸네일 생성시 임시파일 저장하지 않도록 수정
  back/src/main/java/travelRepo/domain/board/dto/BoardDetailsRes.java
  back/src/main/java/travelRepo/domain/board/entity/Category.java
  back/src/main/java/travelRepo/global/image/repository/FolderImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/ImageRepository.java
  back/src/main/java/travelRepo/global/image/repository/S3ImageRepository.java
  back/src/main/java/travelRepo/global/image/service/ImageService.java
  back/src/main/resources/application-server.yml
  back/src/test/java/travelRepo/domain/board/controller/BoardControllerTest.java
  back/src/test/resources/application.yml
  back/tempImg/emptyfile
Labels: Back, 수정

#308 [Fix] 로그아웃 버그 수정
  front/src/util/cookie.js
Labels: Front, 버그, 수정

#312 [Feat] 회원탈퇴 기능 추가
  front/src/api/deleteUserApi.js
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
  front/src/component/myInfoEdit/MyinfoEditDelete.jsx
Labels: Front, 기능추가

#322 [Feat] 사진 등록 미지원 확장자 차단 및 안내 메세지 추가
  front/src/component/myInfoEdit/MyInfoEditProfile.jsx
  front/src/component/publish/PublishPhoto.jsx
Labels: Front, 기능추가, 리펙토링

#321 [Fix] 팔로워,팔로잉 탭에서 유저카드 클릭시 userinfo가 갱신되지않는 현상 수정
  front/src/component/userInfo/UserInfo.jsx
Labels: Front, 버그, 수정

#313 [FE] 게시글 상세페이지 댓글 로딩 스피너 변경 및 에러 페이지 연결
  front/src/component/postDetail/PostDetailMain.jsx
  front/src/component/postDetail/comment/CommentWrite.jsx
Labels: Front, 기능추가, 수정

#315 [Fix] 사용자 정보 수정시 이미지 변경 안되는 부분 수정
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
Labels: Front, 수정

#325 [Fix] Eslint오류 수정
  front/src/component/myInfoEdit/MyInfoEditContent.jsx
Labels: Front, 수정

#323 [Feat] 마이페이지 반응형 수정
  front/src/component/common/Post.jsx
  front/src/component/follow/FollowList.jsx
  front/src/component/follow/FollowPost.jsx
  front/src/component/follow/FollowUserCard.jsx
  front/src/component/userInfo/UserInfoAvatar.jsx
  front/src/component/userInfo/UserInfoCard.jsx
  front/src/component/userInfo/UserInfoTab.jsx
  front/src/pages/mainPages/MainPage.jsx
  front/src/pages/myPages/MyFollower.jsx
  front/src/pages/myPages/MyFollowing.jsx
  front/src/pages/myPages/MyLikes.jsx
  front/src/pages/myPages/MyPost.jsx
Labels: Front, 기능추가, 레이아웃, 리펙토링
